/* Global styles */

* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: white;
  transition: all 0.3s linear;
  font-weight: lighter;
}

section {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

input,
select {
  height: 35px;
  width: 270px;
  border: 1px solid orange;
  border-radius: 6px;
  padding: 0;
  margin: 5px;
  text-align: center;
  color: white;
  background: #232946;
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

input::placeholder {
  color: white;
  padding-left: 5px;
  text-align: center;
}

i {
  font-size: 40px;
  margin-bottom: 3px;
}

option {
  color: white;
  background-color: #232946;
}

label {
  font-size: 14px;
  font-weight: normal;
}

/* Utils */
.row-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-orange {
  color: orange;
}

.color-green {
  color: limegreen;
}

/* Elements */
.home {
  overflow: hidden;
}

.global-title {
  padding: 10px;
  text-align: center;
}

.conversion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  background-color: #232946;
  padding: 0rem 1rem;
}

.conversion-container h1 {
  margin-top: 0;
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.conversion-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  border-radius: 6px;
  color: white;
  background-color: #232946;
  cursor: pointer;
  border: 1px solid orange;
  margin: 20px 0;
  font-weight: bold;
}

.conversion-button:hover {
  color: #232946;
  background-color: orange;
}

.currency-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 20px;
  width: 100%;
}

#chart-container {
  border-radius: 10px;
  background-color: #80a3da;
  margin-top: 30px;
  min-width: 270px;
  width: 100%;
  min-height: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 20px;
  background-color: rgba(128, 163, 218, 0.3);
}

.card .fa-money-bill-alt {
  font-size: 40px;
}

.currency-update {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
}

.currency-name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

.total-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.total-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;

  .update-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.input-container .input-mount {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .conversion-container {
    width: 768px;
  }
}
